<!DOCTYPE HTML>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{%block title%}{{config.SITENAME}}{%endblock%}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon"  href="/static/favicon.ico">

    <link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.css">

    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    

    {%block css%}
    {%endblock%}

    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript" src="/static/libs/jquery.js"></script>
    <script type="text/javascript" src="/static/libs/bootstrap/js/bootstrap.js"></script>

    </head>
        
    <body>
        <div class="container">
        {%block content%}
        {%endblock%}
        </div>
    </body>
</html>

